*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(150, 150, 152);
}

.header{
    height: 100px;
    background: rgb(61, 61, 61);
    padding: 0 20px;
    color: aliceblue;
}

.logo{
    line-height: 100px;
    float: left;
    cursor: pointer;
    font-size: 42px;
    margin: 0 10px;
}

.menu{
    float: right;
    line-height: 100px;
}

.menu a{
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 15px;
    transition: 0.4s;
    font-size: 18px;
}

.show-menu-btn, .hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn{
    float: right;
}

.show-menu-btn i{
    line-height: 100%;
    padding: 30px 0;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
     color: rgb(23, 24, 35);
}

#chk{
    position: absolute;
    visibility: hidden;
}

.content{
    padding: 0 20px;
}

.content img{
    width: 100%;
    max-width: 700px;
    margin: 10px -1px;
    border-radius: 20px;
}

.content p{
    text-align: justify;
    background-color: rgb(146, 146, 146);
    font-family:Gill Sans;
}

 @media screen and (max-width:800px) {
    .show-menu-btn, .hide-menu-btn{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding:80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu a{
        display: block;
        padding: 30px;
    }
    .hide-menu-btn{

        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu{
        right:0;
    }
    
 }